*{
    margin: 0;
    font-family: bk;
}
@font-face{
    font-family: bk;
    src: url('fonte/Insanibu.ttf');
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    background-image: url(black-brick-wall-textured-background-min.jpg);
    min-height: 100vh;
}
#header-principal{
    position: absolute;
    height: 100px;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}
nav, ul{
    width: 100%;
    height: 100%;
    background-color: #00000086;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    list-style: none;
}
ul{
    padding: 0;
}
section{
    width: 100%;
    height: 1000px;
    background-color: #8b4513e0;
}
.header{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.486);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-size: 1.8rem;
}
#header-principal div{
    height: 100%;
    display: flex;
    align-items: center;
}
#header-principal div:hover{
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
}
#container-cardapio{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.div-cardapio{
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.div-cardapio img{
    width: 80%;
    height: 60%;
    box-shadow: 10px 10px 40px;
}
.div-cardapio div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}
.descricao, h3{
    margin-top: 15px;
}
#iframe{
    margin-top: 15px;
    width: 100%;
    height: 600px;
    border: none;
}
#a-delivery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#delivery-section{
    height: 900px;
}
#fale-conosco{/*20*/
    background-color: #ffffff9f;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#fale-conosco header{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 3rem;
}
form{
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    width: 70%;
    align-items: center;
    justify-content: center;
}
form input, textarea{
    margin-top: 15px;
    border-color: #00000044;
    outline: none;
}
form input:focus, textarea:focus{
    background-color: #eaebff;
}
form input{
    height: 24px
}
form div{
    display: flex;
    width: 100%;
    justify-content: center;
}
#f-email, #f-assunto, textarea{
    width: 70%;
}
#f-nome, #f-telefone{
    width: calc(35% - 8px);
}
#f-telefone{
    margin-left: 10px;
}
#btn{
    height: 50px;
    background-color: #8b4513;
    border: none;
    width: 13.5vw;
    color: black;
    margin-right: 51%;
    cursor: pointer;
}
footer{
    background-color: #8b4513;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#footer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Animação */

[data-anima]{
    opacity: 0;
    transition: .6s;
    transform: translate3d(-50px, 0, 0);
}
[data-anima].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
@media(max-width: 1160px){
    a{
        font-size: 1.5rem;
    }
}
@media(max-width: 950px){
    a{
        font-size: 1.1rem;
    }
    h1{
        font-size: 2.7rem
    }
    .descricao{
        font-size: .8rem
    }
    form{
        width: 100%;;
    }
    #f-email, #f-assunto, textarea {
        width: 95%;
    }
    #f-nome, #f-telefone {
        width: calc(47.4% - 8px);
    }
    #btn{
        width: 45.5vw;
    }
}
@media(max-width: 750px){
    #header-principal{
        height: 70px;
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
    }
    ul, nav{
        border-radius: 0px;
    }
    h1{
        font-size: 1.7rem;
    }
    .descricao{
        font-size: .6rem;
    }
}
@media(max-width: 423px){
    a{
        font-size: 1rem;
    }
    h1{
        font-size: 1.4rem;
    }
    .descricao{
        font-size: .4rem
    }
    h3{
        font-size: .9rem;
    }
    .div-cardapio {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
    .div-cardapio img {
        width: 100%;
        height: 70%;
    }
    section {
        width: 100%;
        height: 1700px;
        background-color: #8b4513e0;
    }
}
@media(max-width: 350px){
    a{
        font-size: .8rem;
    }
    h1{
        font-size: 1.2rem;
    }
}