*{
    margin: 0;
}
body{
    width: 100%;
    background-image: url(black-brick-wall-textured-background.jpg);
    min-height: 100vh;
}
#header-principal{
    height: 100px;
    width: 50%;
    background-color: rgba(139, 69, 19, 0.877);
    position: absolute;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 50px;
}
#div-da-foto{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
}
#div-da-foto div{
    width: 100%;
    height: 100%;

}
#div-da-foto img{
    width: 100%; 
    display:block; 
    height: 100%;
}
section{
    width: 100%;
    height: 1000px;
    background-color: rgba(139, 69, 19, 0.877);
}
#header-1{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.486);
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
