*{
    margin: 0;
}
body{
    width: 100%;
    background-image: url(black-brick-wall-textured-background.jpg);
    min-height: 100vh;
}
#header-principal{
    height: 100px;
    width: 100%;
    background-color: rgba(139, 69, 19, 0.877);
}
#div-da-foto{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}
#div-da-foto div{
    width: 70%;
    height: 100%;

}
#div-da-foto img{
    width: 100%; 
    display:block; 
    height: 100%;
}
#footer-da-foto{
    width: 100%;
    height: 100px;
    background-color: rgba(139, 69, 19, 0.877);
    position: absolute;
}

